QLabel#student {
    font-size: 18px;
    background-color: qlineargradient(x1:0, y1:0, x2:0, y2:1,
                    stop:0 white, stop:1 blue);
    }
QLabel#adult {
    font-size: 18px;
    background-color: qlineargradient(x1:0, y1:0, x2:0, y2:1,
                    stop:0 white, stop:1 rgb(247, 150, 70));
    }

